table tr td{
    border-width:1px;
    border-style: solid;
    border-color: black;
    
}
table {
    width: 100%;
    
    border-collapse: collapse;
}
td {
    height:50px;
}

td:hover {
    /*border-color: #f8a809 ;*/
    background-color: #ffe6b3;
    opacity: 0.5;
    
}